//-
	Rule the words! KKuTu Online
	Copyright (C) 2017 JJoriping(op@jjo.kr)

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program. If not, see <http://www.gnu.org/licenses/>.
extends layout

block Subject
	title= L('title')

block CSS
	link(rel='stylesheet', href='/css/in_game_kkutu.css')

block Middle
	+separator(5)
	div(style='float: left; width: 100%;')
	label= L('textver123') + L('version')
		div(style='float: left; padding-left: 70px;')
			h3#holder= L('title').replace(/\[.+?\]/g, "")
			img#logo(src='/img/kkutu/short_logo.png')
		div#menu-bar(style='float: right; margin-top: 25px;')
			a(target='_blank', href='http://cafe.bfkkutu.ze.am/', style='background-color: #189E47;')= 'Naver Cafe'
			a(target='_blank', href='//discord.gg/scPVHcE', style='background-color: #233599;')= 'Discord'
		div.jjoriping(style='margin-top: 40px;')
			img.jjoObj.jjoEyeL(src='/img/jjoeyeL.png', style='left: -270px;')
			img.jjoObj.jjoNose(src='/img/jjonose.png', style='left: -170px;')
			img.jjoObj.jjoEyeR(src='/img/jjoeyeR.png', style='left: -70px;')
			div.jjoDisplayBar(style='width: 325px; height: 85px;')
				button#game-start.jjo-display= L('gameStart')
	div(style='float: right; margin-top: -120px; width: 50%;')
		div.server-list-box
			h3.server-list-title
				a#server-refresh
					+FA('refresh')
					+Expl(L('serverRefresh'))
				label= L('serverList')
				label#server-total(style='color: #AAA; font-size: 13px;')
			div#server-list
	div(style='float: left; width: calc(100% - 4px); border: 1px solid #CCC; margin-top: 10px; background-color: #EEE;')
		iframe#error(width='100%', height='40px', scrolling='no', src='/server_status.html')
	div(style='float: left; width: calc(100% - 4px); border: 1px solid #CCC; margin-top: 10px; background-color: #EEE;')
		iframe#kkutu-bulletin(width='100%', height='400px', src='/kkutu_bulletin.html')
	div(style='float: left; width: calc(37.5% - 4px); border: 0px solid #CCC; margin-top: 10px; background-color: #7289da;')
		iframe#discord-widget(width='100%', height='80px', src='/discord_widget.html')
	+separator(10)

block Bottom
	//-div(style='float: left; width: calc(37.5% - 4px); border: 0px solid #CCC; margin-top: 10px;')
		iframe#ad1(width='100%', height='80px', src='/ad.html')-//
	div.bottom-legal!= L('dictionarySupport')
	div.bottom-legal!= L('etcSupport')
	div.bottom-legal!= L('MEANSUPPORT')
	img(src='/img/kkutu/meansupport.png')
	div.bottom-legal!= L('textver123') + L('version_down')
	div.bottom-legal!= L('madewith')
	script.
		function setParam(name, value) {
		var l = window.location;
		/* build params */
		var params = {};
		var x = /(?:\\??)([^=&?]+)=?([^&?]*)/g;
		var s = l.search;
		for(var r = x.exec(s); r; r = x.exec(s))
		{
		r[1] = decodeURIComponent(r[1]);
		if (!r[2]) r[2] = '%%';
		params[r[1]] = r[2];
		}
		/* set param */
		params[name] = encodeURIComponent(value);
		/* build search */
		var search = [];
		for(var i in params)
		{
		var p = encodeURIComponent(i);
		var v = params[i];
		if (v != '%%') p += '=' + v;
		search.push(p);
		}
		search = search.join('&');
		/* execute search */
		l.search = search;
		}
	div.bottom-legal!=L('BGMHelp')
	div.bottom-legal!=L('PLAYTSHelp')
	//-div.bottom-legal!="언어를 선택하세요 Please choose the language."
	//-div.bottom-legal!="관리자가 대충 번역기 돌려서 번역 상태가 개판입니다."
	//-a(href="javascript:setParam('locale', 'ko_KR');") 한국어 Korean
	//-br
	//-a(href="javascript:setParam('locale', 'en_US');") 영어 English
	//-br
	//-a(href="javascript:setParam('locale', 'zh_CN');") 중국어 Chinese
	//-br
	//-a(href="javascript:setParam('locale', 'ja_JP');") 일본어 Japanese
	
	div.bottom-legal!= L('AGREEMENT_LINK')
	div.bottom-legal!= L('PRIVACY_LINK')
	div.bottom-legal!= L('OPOLICY_LINK')
	
	
