//-
	Rule the words! KKuTu Online
	Copyright (C) 2017 JJoriping(op@jjo.kr)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
	
	You should have received a copy of the GNU General Public License
	along with this program. If not, see <http://www.gnu.org/licenses/>.
extends layout

block Middle
	head
		title BF끄투 - 동시 접속 과다!
		script(type='text/javascript', src='/js/jquery.js')
		script(type='text/javascript', src='/js/server_status.obfus.js')
		h2 동시 접속 요청이 너무 많아 연결이 차단되었습니다! 이용에 불편을 드려 죄송합니다.
		h3 (DDoS Protection)
block Bottom
	//-div(style='float: left; width: calc(37.5% - 4px); border: 0px solid #CCC; margin-top: 10px;')
		iframe#ad1(width='100%', height='80px', src='/ad.html')-//
	div.bottom-legal!= L('dictionarySupport')
	div.bottom-legal!= L('etcSupport')
	div.bottom-legal!= L('MEANSUPPORT')
	img(src='/img/kkutu/meansupport.png')
	div.bottom-legal!= L('textver123') + L('version_down')
	div.bottom-legal!= L('textversec') + L('security_version')
	div.bottom-legal!= L('madewith')
	script.
		function setParam(name, value) {
		var l = window.location;
		/* build params */
		var params = {};
		var x = /(?:\\??)([^=&?]+)=?([^&?]*)/g;
		var s = l.search;
		for(var r = x.exec(s); r; r = x.exec(s))
		{
		r[1] = decodeURIComponent(r[1]);
		if (!r[2]) r[2] = '%%';
		params[r[1]] = r[2];
		}
		/* set param */
		params[name] = encodeURIComponent(value);
		/* build search */
		var search = [];
		for(var i in params)
		{
		var p = encodeURIComponent(i);
		var v = params[i];
		if (v != '%%') p += '=' + v;
		search.push(p);
		}
		search = search.join('&');
		/* execute search */
		l.search = search;
		}
	div.bottom-legal!=L('BGMHelp')
	div.bottom-legal!=L('PLAYTSHelp')
	//-div.bottom-legal!="언어를 선택하세요 Please choose the language."
	//-div.bottom-legal!="관리자가 대충 번역기 돌려서 번역 상태가 개판입니다."
	//-a(href="javascript:setParam('locale', 'ko_KR');") 한국어 Korean
	//-br
	//-a(href="javascript:setParam('locale', 'en_US');") 영어 English
	//-br
	//-a(href="javascript:setParam('locale', 'zh_CN');") 중국어 Chinese
	//-br
	//-a(href="javascript:setParam('locale', 'ja_JP');") 일본어 Japanese
	
	div.bottom-legal!= L('AGREEMENT_LINK')
	div.bottom-legal!= L('PRIVACY_LINK')
	div.bottom-legal!= L('OPOLICY_LINK1')
	div.bottom-legal!= L('OPOLICY_LINK2')
	
	
